@{
    ViewBag.Title = "Integrantes:";
}
<div class="row">
    <div class="col-md-4">
        <h2 aling="center">@ViewBag.Title</h2>
        <h3>Anderson Hernadez</h3>
        <h4>Realizó la Base de Datos en SQLSERVER</h4>
        <h3>Ludswing Cahuec</h3>
        <h4>Realizó el  Diseño y Validaciones</h4>
        <h3>Williams Coro</h3>
        <h4>Realizó WEbapi, Roles y MVC </h4>
    </div>
    <div class="col-md-4">
        <div class="log" style="max-width:175px">
            <img class="lap" src="~/img/udeo.png" style="width:100%">

        </div>
    </div>

</div>

