@{
    ViewBag.Title = "Home Page";
}
<div clase="fondo">
    <div class="jumbotron">
        <center>
            <img src="~/img/1.png" />
        </center>

    </div>
    <div class="row">

        <div class="col-md-4">
            <h2 aling="center">Vehiculos por Modelo</h2>

            <div aling="right">
                <h4>•	El precio inicial del deducible por choque es del 3% del costo del vehículo.</h4>
                <h4>•	Los vehículos del año 2009 tiene un costo de Q100,000.</h4>
                <h4>•	Si la fecha de creación del vehículo (Modelo) es mayor al 2017 se aumenta el 11% exponencial por año.</h4>
                <h4>•	Si la fecha de creación del vehículo (Modelo) es mayor al 2014 se aumenta el 7% de manera exponencial por año.</h4>
                <h4>•	Si la fecha de creación del vehículo (Modelo) es menor al 2014 tiene un descuento de 3% exponencial por año.</h4>
            </div>
        </div>
        <div class="col-md-4">
            <h2 aling="center">Vehiculos por Motor/Cant. Neumaticos</h2>
            <div aling="right">
                <h4>•	Si el vehículo tiene 4 llantas se aumenta el 7%</h4>
                <h4>•	Si el vehículo tiene 6 llantas se aumenta el 15%</h4>
                <h4>•	Si el vehículo tiene más de 6 llantas se aumenta el 17%</h4>
            </div>

        </div>
        <div class="col-md-4">
            <h2 aling="center">CC Motor / Cilindros</h2>
            <div aling="rigth">
                <h4>•	Si el vehículo tiene motor <br>>= 2000 cc y <=3500 cc se aumenta el 4.5%</h4>
                <h4>•	Si el vehículo tiene motor <br>< 2000 cc se aumenta el 1.3%</h4>
                <h4>•	Si el vehículo tiene motor <br>< 1500 cc se resta el 5.7% </h4>
                <h4>•	Por cada par de cilindros se aumenta el 4%</h4>
            </div>
        </div>


    </div>

</div>
